
{% extends "JPMaritimeBundle:Default:index.html.twig" %}
{% block main %}
<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Form Wizards  {{m}}</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 pull-right">                  
                <a href="{{ path("jp_maritime_homepage")}}" class="btn btn-default" type="button"><i class="fa fa-home"></i> Retour</a>
                          
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

             <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Design <small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                  

                       {{ form_start(form,{'attr':{'class':'form-horizontal form-label-left'}}) }}
                        {{ form_errors(form) }}

                       

                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Type de dossier <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">   
                            <p>
                           {{ form_widget(form.ftype) }}
                          </p>
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Requerant <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">   
                           {{ form_widget(form.requerant, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':''}}) }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Navire <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">   
                           {{ form_widget(form.moyentp, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':''}}) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date D'arrivé <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                           {{ form_widget(form.dateArrive, {'attr': {'class': 'date-picker form-control col-md-7 col-xs-12', 'placeholder':''}}) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Description de la Mission <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">   
                           {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':''}}) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date D'intervention <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         
                           {{ form_widget(form.dateIntervention, {'attr': {'class': 'date-picker form-control col-md-7 col-xs-12', 'placeholder':''}}) }}
                        </div>
                      </div>
                        
                        <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                         
                          <input  type="submit" class="btn btn-success"></input>
                        </div>
                      </div>
                    {{ form_end(form) }}

                 
                  
                  </div>
                </div>
              </div>
            </div>

            
          </div>
{% endblock %}