{% extends "::home.html.twig" %}

{% block main %}
<div class="col-md-12">
<nav>
             
              <ul class="nav navbar-nav navbar-right">
                <li class="">

                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="images/img.jpg" alt=""> {{  app.user.username }}
                    <span class=" fa fa-angle-down"></span>
                  </a>

            {% else %}
              
            {% endif %}

                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    
                   
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                   
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
		
            <div class="clearfix"></div>
          <!-- page content -->
       <div class="row">
              <div class="col-md-12 ">
                <div class="">

                  <div class="x_content">
                    <div class="row">
                     <div class="col-md-12 col-sm-12 col-xs-12 ">
                         
                      </div>
                      			
                       <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>TABLEAU DE BORD</i></h4>
                            <div class="left col-xs-7">
                              <p><strong>Tableau de bord de suivi de l'activité</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="{{ path("jp_main_dashboardpage") }}"  alt="" class="icon"><i class="fa fa-dashboard fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                      	<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>MARITIME</i></h4>
                            <div class="left col-xs-7">
                               <p><strong>Module de gestion du pôle maritime</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="{{ path("jp_maritime_homepage") }}" alt="" class="icon"><i class="fa fa-ship fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                             <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>ENVIRONNEMENT</i></h4>
                            <div class="left col-xs-7">
                               <p><strong>Module de gestion du pôle environnement</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                             <a href="" alt="" class="icon"><i class="fa fa-leaf fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                             <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>INGENIERIE</i></h4>
                            <div class="left col-xs-7">
                                <p><strong>Module de gestion du pôle ingénierie</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="" alt="" class="icon"><i class="fa fa-line-chart fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                             <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>



                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>FINANCE</i></h4>
                            <div class="left col-xs-7">
                                <p><strong>Module de gestion des finances</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="" alt="" class="icon"><i class="fa fa-money fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>SERVICES GENERAUX</i></h4>
                            <div class="left col-xs-7">
                                <p><strong>Module de gestion des services generaux</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="" alt="" class="icon"><i class="fa fa-tasks fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>MESSAGERIE</i></h4>
                            <div class="left col-xs-7">
                               <p><strong>Module de messagerie interne</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                               <a href="" alt="" class="icon"><i class="fa fa-envelope fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>RESSOURCES HUMAINES</i></h4>
                            <div class="left col-xs-7">
                                <p><strong>Module de gestion des ressources humaines</strong></p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="" alt="" class="icon"><i class="fa fa-users fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                    
 						  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>ADMINISTRATION</i></h4>
                            <div class="left col-xs-7">
                                <p><strong>Module d'administration générale</strong></p>
                                   
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <a href="{{path('jp_main_notif')}}" alt="" class="icon"><i class="fa fa-wrench fa-5x"></i></a>
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-right">
                            
                            <div class="col-xs-12 col-sm-12 emphasis">
                             
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"> </i> VOIR
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
        <!-- /page content -->

        {% endblock %}
