{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Numfacture</th>
                <td>{{ facture.numfacture }}</td>
            </tr>
            <tr>
                <th>Boncommande</th>
                <td>{{ facture.boncommande }}</td>
            </tr>
            <tr>
                <th>Dhcreation</th>
                <td>{% if facture.dhcreation %}{{ facture.dhcreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dhmodif</th>
                <td>{% if facture.dhmodif %}{{ facture.dhmodif|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ facture.tva }}</td>
            </tr>
            <tr>
                <th>Totalfacture</th>
                <td>{{ facture.totalfacture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('finance_facture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('finance_facture_edit', { 'id': facture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
